{% extends 'Frontend/base.html' %}

{% block navigation %}
{% include 'Frontend/Partials/navigation.html' %}
{% endblock %}

{% block masthead %}
{% include 'Frontend/Partials/masthead.html' %}
{% endblock %}

{% block portfolio %}
{% include 'Frontend/Partials/portofolio.html' %}   
{% endblock %}

{% block about %}
{% include 'Frontend/Partials/about.html' %}
{% endblock %}

{% block contact %}
{% include 'Frontend/Partials/contact.html' %}        
{% endblock %}

{% block footer %}
{% include 'Frontend/Partials/footer.html' %}
{% endblock %}

{% block copyright %}
{% include 'Frontend/Partials/copyright.html' %}
{% endblock %}

{% block portofoliomodals1 %}
{% include 'Frontend/Partials/portofoliomodals1.html' %}
{% endblock %}

{% block portofoliomodals2 %}
{% include 'Frontend/Partials/portofoliomodals2.html' %}
{% endblock %}

{% block portofoliomodals3 %}
{% include 'Frontend/Partials/portofoliomodals3.html' %}
{% endblock %}

{% block portofoliomodals4 %}
{% include 'Frontend/Partials/portofoliomodals4.html' %}
{% endblock %}

{% block portofoliomodals5 %}
{% include 'Frontend/Partials/portofoliomodals5.html' %}
{% endblock %}

{% block portofoliomodals6 %}
{% include 'Frontend/Partials/portofoliomodals6.html' %}
{% endblock %}


