{% load static %}
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
   {% include 'Backend/Partials/Navbar/Leftnavbar/leftnavbar.html' %}
    <!-- SEARCH FORM -->
   {% include 'Backend/Partials/Navbar/Search/search.html' %}
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Messages Dropdown Menu -->
   {% include 'Backend/Partials/Navbar/Messages/messages.html' %}
      <!-- Notifications Dropdown Menu -->
   {% include 'Backend/Partials/Navbar/Messages/notifications.html' %}
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button"><i
            class="fas fa-th-large"></i></a>
      </li>
    </ul>
  </nav>